#ignore plugged folder when stowing files
nvim/.config/nvim/plugged/
#ignore wallpapers
wallpapers/
#ignore zsh addons folder and dump
zsh/.config/zsh/scripts/
zsh/.config/zsh/.zcompdump
#ignore awesome theme repo
awesome/.config/awesome/themes/
